<!-- {% load static %} -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/q.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/first.css' %}">
  <meta charset="utf-8">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <title>{% block title %}Maharaja Surajmal Institute{% endblock %}</title>
</head>
<body>
    <header id="header">

        <nav id="top-menu">

            <div class="wrapper">
                <div id="navbar-top" class="top-navbar">

                    <div class="menu-footer-help-menu-container"><ul id="menu-footer-help-menu" class="navbar-wpz dropdown sf-menu sf-js-enabled sf-arrows"><li id="menu-item-3424" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-3419 current_page_item menu-item-3424 menu-item-msi-ggsip.org first-menu-item"><a href="http://msi-ggsip.org/">Home</a></li>
<li id="menu-item-3754" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3754 menu-item-central-library-4 "><a target="_blank" href="https://sites.google.com/site/centrallibrarymaharajasurajmal/">Central Library</a></li>
<li id="menu-item-4111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4111 menu-item-msi-awarded-naac-grade-a-for-2017-2022 "><a href="http://msi-ggsip.org/msi-awarded-naac-grade-a-for-2017-2022/">NAAC Grade ‘A’</a></li>
<li id="menu-item-3606" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3606 menu-item-times-ranking-2017 "><a href="http://msi-ggsip.org/times-ranking-2017/">Times Ranking 2018</a></li>
<li id="menu-item-3868" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-3868 menu-item-msi-ranked-first-in-delhi-among-top-bba-institutes "><a href="http://msi-ggsip.org/msi-ranked-first-in-delhi-among-top-bba-institutes/">India Today Ranking 2018</a></li>
<li id="menu-item-1449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1449 menu-item-contact-us last-menu-item"><a href="http://msi-ggsip.org/contact-us/">Contact Us</a></li>
</ul></div>
                </div>

                <div class="header_social">
                    <div id="zoom-social-icons-widget-3" class="widget-1 widget-odd widget zoom-social-icons-widget widget-none"><h3 class="title"><span>Follow us</span></h3>
    
    <ul class="zoom-social-icons-list zoom-social-icons-list--with-canvas zoom-social-icons-list--rounded zoom-social-icons-list--no-labels">

      
                <li class="zoom-social_icons-list__item">
          <a class="zoom-social_icons-list__link" href="https://www.facebook.com/Maharaja-Surajmal-Institute-183580072182496/" target="_blank">
                                    
                                                    <span class="screen-reader-text">facebook</span>
                        
            <span class="zoom-social_icons-list-span socicon socicon-facebook" data-hover-rule="background-color" data-hover-color="#3b5998" style="background-color : #3b5998; font-size: 14px; padding:6px"></span>

                      </a>
        </li>

      
                <li class="zoom-social_icons-list__item">
          <a class="zoom-social_icons-list__link" href="https://twitter.com/MaharajaSurajm1?s=03" target="_blank">
                                    
                                                    <span class="screen-reader-text">twitter</span>
                        
            <span class="zoom-social_icons-list-span socicon socicon-twitter" data-hover-rule="background-color" data-hover-color="#55acee" style="background-color : #55acee; font-size: 14px; padding:6px"></span>

                      </a>
        </li>

      
    </ul>

    </div>                </div>

                                    <div id="header-helpful">

                                                    <span class="action">Call Us:<span class="value">011-25552667</span></span>
                                            </div><!-- end #header-helpful -->
                
                <div class="clear"></div>

             </div>
        </nav><!-- end #top-menu -->
        <div class="cleaner"></div>


        <div class="wrapper">
            <div class="brand_wrapper">
                <div style="float:left;margin-right:30px;">
   <a href="http://msi-ggsip.org" title="msi"> <img src="http://msi-ggsip.org/wp-content/uploads/2016/05/Maharaja-Surajmal-1.jpg" style="clear: right;" title="MSI" alt="MSI" height="130" width="130"></a>
</div>


                <div class="navbar-brand-wpz">
 
                    <h1><a href="http://msi-ggsip.org" title="Affiliated to GGSIP University &amp; NAAC 'A' grade accredited">Maharaja Surajmal Institute</a></h1>
                    <p class="tagline"><font size="3">Affiliated to GGSIP University &amp; NAAC 'A' grade accredited.<br>Rated as Category 'A+' by SFRC &amp; 'A' by JAC Govt. of NCT of Delhi<br>
Recognised U/s 2(f) of UGC Act</font></p>

                </div><!-- .navbar-brand -->
                <div id="navbar-logo" class="logo-navbar" style="max-width: 200px;">

                    <div class="menu-nearlogo-container"><ul id="menu-nearlogo" class="navbar-wpz dropdown sf-menu sf-js-enabled sf-arrows"><li>{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <button type="submit" style="height:100%; width:50%;"><a href="{% url 'logout' %}">logout</a></button>
{% else %}
  <p>You are not logged in</p>
  <button type="submit" style="height:100%; width:50%;"><a href="{% url 'login' %}">login</a></button>
{% endif %}
</ul></div>
                </div>

            </div>

            <div class="cleaner">&nbsp;</div>

        </div><!-- end .wrapper -->

    </header>
    <div><marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();"><a href="https://wp.me/p9zcGk-18G">Final notice regarding Fee Payment for 2nd and 3rd Year students.</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="http://msi-ggsip.org/wp-content/uploads/2016/06/centre-for-supple-exam.-sept.-2018-for-all-programmes.pdf" target="_new">BCA Supplementary End Term Exam Centre, Sept-18</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://wp.me/p9zcGk-18J">BCA Supplementary Exam Datesheet, Sept-2018.</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://wp.me/p9zcGk-16C">Important Notice for BBA (Gen) &amp; BBA(B&amp;I) 2015-2018 Students regarding Mark-Sheets.</a> </marquee></div>
    <nav id="main-navbar" class="main-navbar">

        <div class="wrapper">

            <div class="navbar-header-main"><div class="slicknav_menu"><a href="#" aria-haspopup="true" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><div class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;"><ul class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-3419 current_page_item menu-item-3423 menu-item-msi-ggsip.org first-menu-item"><a href="http://msi-ggsip.org/" role="menuitem">Home</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2764 menu-item-about-us  slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#">About Us</a>
<span class="slicknav_arrow"></span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765 menu-item-maharaja-surajmal-3 "><a href="http://msi-ggsip.org/maharaja-surajmal-3/" role="menuitem" tabindex="-1">About Maharaja Surajmal</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1572 menu-item-about-us "><a href="http://msi-ggsip.org/about-us/" role="menuitem" tabindex="-1">About Institute</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3336 menu-item-3330-2 "><a href="http://msi-ggsip.org/3330-2/" role="menuitem" tabindex="-1">Vision and Mission</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1478 menu-item-administration  slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#">Administration</a>
<span class="slicknav_arrow"></span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3364 menu-item-society-2 "><a target="_blank" href="http://surajmalmemorialeducationsociety.org/" role="menuitem" tabindex="-1">Society</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3346 menu-item-governing-body "><a href="http://msi-ggsip.org/governing-body/" role="menuitem" tabindex="-1">Governing Body</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2618 menu-item-director "><a href="http://msi-ggsip.org/director/" role="menuitem" tabindex="-1">Director</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2182 menu-item-academics  slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#">Academics</a>
<span class="slicknav_arrow"></span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4583 menu-item-gold-medalist-of-msi "><a href="http://msi-ggsip.org/gold-medalist-of-msi/" role="menuitem" tabindex="-1">Gold Medalists of MSI</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4582 menu-item-exemplary-performances-of-msi "><a href="http://msi-ggsip.org/exemplary-performances-of-msi/" role="menuitem" tabindex="-1">Exemplary Performances of MSI</a></li>
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1782 menu-item-results  slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#" tabindex="-1">Results</a>
  <span class="slicknav_arrow"></span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1846 menu-item-bca-3  slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#" tabindex="-1">BCA</a>
    <span class="slicknav_arrow"></span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1784 menu-item-bca-1st-shift-result "><a href="http://msi-ggsip.org/bca-1st-shift-result/" role="menuitem" tabindex="-1">BCA 1st Shift Result</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1785 menu-item-bca-2nd-shift "><a href="http://msi-ggsip.org/bca-2nd-shift/" role="menuitem" tabindex="-1">BCA 2nd Shift Result</a></li>
    </ul>
</li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1847 menu-item-bba-general-2  slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#" tabindex="-1">BBA-General</a>
    <span class="slicknav_arrow"></span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1783 menu-item-bba-gen-1st-shift-result "><a href="http://msi-ggsip.org/bba-gen-1st-shift-result/" role="menuitem" tabindex="-1">BBA-Gen 1st Shift Result</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1905 menu-item-bba-gen-2nd-shift "><a href="http://msi-ggsip.org/bba-gen-2nd-shift/" role="menuitem" tabindex="-1">BBA-Gen 2nd Shift Result</a></li>
    </ul>
</li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1850 menu-item-bba-bank-ins  slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#" tabindex="-1">BBA- Bank. &amp; Ins.</a>
    <span class="slicknav_arrow"></span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1904 menu-item-bba-bi-1st-shift "><a href="http://msi-ggsip.org/bba-bi-1st-shift/" role="menuitem" tabindex="-1">BBA-B&amp;I 1st Shift Result</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1906 menu-item-bi-2nd-shift-result "><a href="http://msi-ggsip.org/bi-2nd-shift-result/" role="menuitem" tabindex="-1">BBA-B&amp;I 2nd Shift Result</a></li>
    </ul>
</li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1907 menu-item-b-com-hons-2 "><a href="http://msi-ggsip.org/b-com-hons-2/" role="menuitem" tabindex="-1">B.Com. (Hons.) Result</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1911 menu-item-education "><a href="http://msi-ggsip.org/education/" role="menuitem" tabindex="-1">Education</a></li>
  </ul>
</li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2634 menu-item-email-ids-of-staff "><a href="http://msi-ggsip.org/email-ids-of-staff/" role="menuitem" tabindex="-1">Email Ids of Staff</a></li>
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1703 menu-item-central-library "><a target="_blank" href="https://sites.google.com/site/centrallibrarymaharajasurajmal/" role="menuitem" tabindex="-1">Central Library</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1778 menu-item-placement  slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#">Placement</a>
<span class="slicknav_arrow"></span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1779 menu-item-director-placement "><a href="http://msi-ggsip.org/director-placement/" role="menuitem" tabindex="-1">Director Placement</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1780 menu-item-placement "><a href="http://msi-ggsip.org/placement/" role="menuitem" tabindex="-1">Placement Cell</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1800 menu-item-placement-summary "><a href="http://msi-ggsip.org/placement-summary/" role="menuitem" tabindex="-1">Placement Summary</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4165 menu-item-events-4  slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#">Events</a>
<span class="slicknav_arrow"></span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4570 menu-item-activities-held "><a href="http://msi-ggsip.org/activities-held/" role="menuitem" tabindex="-1">Activities Held</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4166 menu-item-fdps "><a href="http://msi-ggsip.org/fdps/" role="menuitem" tabindex="-1">FDPs</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4170 menu-item-4th-international-day-of-yoga-celebration "><a href="http://msi-ggsip.org/4th-international-day-of-yoga-celebration/" role="menuitem" tabindex="-1">4th IDY Celebration</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4167 menu-item-genesis-2k18 "><a href="http://msi-ggsip.org/genesis-2k18/" role="menuitem" tabindex="-1">Genesis 2K18</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-54 menu-item-research  slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#">Research &amp; Publications</a>
<span class="slicknav_arrow"></span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1845 menu-item-msi-journal-of-research "><a target="_blank" href="http://www.msijr.msi-ggsip.org" role="menuitem" tabindex="-1">MSI Journal of Research</a></li>
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3161 menu-item-msi-creation "><a target="_blank" href="http://msi-ggsip.org/wp-content/uploads/2016/06/MSI-CREATION-2018.pdf" role="menuitem" tabindex="-1">MSI Creation</a></li>
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3160 menu-item-msi-news-letter "><a target="_blank" href="http://msi-ggsip.org/wp-content/uploads/2016/06/2017-msi-news-finaL-6-sep.pdf" role="menuitem" tabindex="-1">MSI News Letter</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4196 menu-item-online-fee-payment-for-2nd-and-3rd-year-students last-menu-item"><a href="http://msi-ggsip.org/online-fee-payment-for-2nd-and-3rd-year-students/" role="menuitem">Online Fee</a></li>
</ul></div></div>
                <div id="menu-main-slide" class="menu-main-links-container"><ul id="menu-main-links" class="menu"><li id="menu-item-3423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-3419 current_page_item menu-item-3423 menu-item-msi-ggsip.org first-menu-item"><a href="http://msi-ggsip.org/">Home</a></li>
<li id="menu-item-2764" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2764 menu-item-about-us "><a href="#">About Us</a>
<ul class="sub-menu">
  <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765 menu-item-maharaja-surajmal-3 "><a href="http://msi-ggsip.org/maharaja-surajmal-3/">About Maharaja Surajmal</a></li>
  <li id="menu-item-1572" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1572 menu-item-about-us "><a href="http://msi-ggsip.org/about-us/">About Institute</a></li>
  <li id="menu-item-3336" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3336 menu-item-3330-2 "><a href="http://msi-ggsip.org/3330-2/">Vision and Mission</a></li>
</ul>
</li>
<li id="menu-item-1478" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1478 menu-item-administration "><a href="#">Administration</a>
<ul class="sub-menu">
  <li id="menu-item-3364" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3364 menu-item-society-2 "><a target="_blank" href="http://surajmalmemorialeducationsociety.org/">Society</a></li>
  <li id="menu-item-3346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3346 menu-item-governing-body "><a href="http://msi-ggsip.org/governing-body/">Governing Body</a></li>
  <li id="menu-item-2618" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2618 menu-item-director "><a href="http://msi-ggsip.org/director/">Director</a></li>
</ul>
</li>
<li id="menu-item-2182" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2182 menu-item-academics "><a href="#">Academics</a>
<ul class="sub-menu">
  <li id="menu-item-4583" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4583 menu-item-gold-medalist-of-msi "><a href="http://msi-ggsip.org/gold-medalist-of-msi/">Gold Medalists of MSI</a></li>
  <li id="menu-item-4582" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4582 menu-item-exemplary-performances-of-msi "><a href="http://msi-ggsip.org/exemplary-performances-of-msi/">Exemplary Performances of MSI</a></li>
  <li id="menu-item-1782" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1782 menu-item-results "><a href="#">Results</a>
  <ul class="sub-menu">
    <li id="menu-item-1846" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1846 menu-item-bca-3 "><a href="#">BCA</a>
    <ul class="sub-menu">
      <li id="menu-item-1784" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1784 menu-item-bca-1st-shift-result "><a href="http://msi-ggsip.org/bca-1st-shift-result/">BCA 1st Shift Result</a></li>
      <li id="menu-item-1785" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1785 menu-item-bca-2nd-shift "><a href="http://msi-ggsip.org/bca-2nd-shift/">BCA 2nd Shift Result</a></li>
    </ul>
</li>
    <li id="menu-item-1847" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1847 menu-item-bba-general-2 "><a href="#">BBA-General</a>
    <ul class="sub-menu">
      <li id="menu-item-1783" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1783 menu-item-bba-gen-1st-shift-result "><a href="http://msi-ggsip.org/bba-gen-1st-shift-result/">BBA-Gen 1st Shift Result</a></li>
      <li id="menu-item-1905" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1905 menu-item-bba-gen-2nd-shift "><a href="http://msi-ggsip.org/bba-gen-2nd-shift/">BBA-Gen 2nd Shift Result</a></li>
    </ul>
</li>
    <li id="menu-item-1850" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1850 menu-item-bba-bank-ins "><a href="#">BBA- Bank. &amp; Ins.</a>
    <ul class="sub-menu">
      <li id="menu-item-1904" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1904 menu-item-bba-bi-1st-shift "><a href="http://msi-ggsip.org/bba-bi-1st-shift/">BBA-B&amp;I 1st Shift Result</a></li>
      <li id="menu-item-1906" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1906 menu-item-bi-2nd-shift-result "><a href="http://msi-ggsip.org/bi-2nd-shift-result/">BBA-B&amp;I 2nd Shift Result</a></li>
    </ul>
</li>
    <li id="menu-item-1907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1907 menu-item-b-com-hons-2 "><a href="http://msi-ggsip.org/b-com-hons-2/">B.Com. (Hons.) Result</a></li>
    <li id="menu-item-1911" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1911 menu-item-education "><a href="http://msi-ggsip.org/education/">Education</a></li>
  </ul>
</li>
  <li id="menu-item-2634" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2634 menu-item-email-ids-of-staff "><a href="http://msi-ggsip.org/email-ids-of-staff/">Email Ids of Staff</a></li>
  <li id="menu-item-1703" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1703 menu-item-central-library "><a target="_blank" href="https://sites.google.com/site/centrallibrarymaharajasurajmal/">Central Library</a></li>
</ul>
</li>
<li id="menu-item-1778" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1778 menu-item-placement "><a href="#">Placement</a>
<ul class="sub-menu">
  <li id="menu-item-1779" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1779 menu-item-director-placement "><a href="http://msi-ggsip.org/director-placement/">Director Placement</a></li>
  <li id="menu-item-1780" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1780 menu-item-placement "><a href="http://msi-ggsip.org/placement/">Placement Cell</a></li>
  <li id="menu-item-1800" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1800 menu-item-placement-summary "><a href="http://msi-ggsip.org/placement-summary/">Placement Summary</a></li>
</ul>
</li>
<li id="menu-item-4165" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4165 menu-item-events-4 "><a href="#">Events</a>
<ul class="sub-menu">
  <li id="menu-item-4570" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4570 menu-item-activities-held "><a href="http://msi-ggsip.org/activities-held/">Activities Held</a></li>
  <li id="menu-item-4166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4166 menu-item-fdps "><a href="http://msi-ggsip.org/fdps/">FDPs</a></li>
  <li id="menu-item-4170" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4170 menu-item-4th-international-day-of-yoga-celebration "><a href="http://msi-ggsip.org/4th-international-day-of-yoga-celebration/">4th IDY Celebration</a></li>
  <li id="menu-item-4167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4167 menu-item-genesis-2k18 "><a href="http://msi-ggsip.org/genesis-2k18/">Genesis 2K18</a></li>
</ul>
</li>
<li id="menu-item-54" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-54 menu-item-research "><a href="#">Research &amp; Publications</a>
<ul class="sub-menu">
  <li id="menu-item-1845" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1845 menu-item-msi-journal-of-research "><a target="_blank" href="http://www.msijr.msi-ggsip.org">MSI Journal of Research</a></li>
  <li id="menu-item-3161" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3161 menu-item-msi-creation "><a target="_blank" href="http://msi-ggsip.org/wp-content/uploads/2016/06/MSI-CREATION-2018.pdf">MSI Creation</a></li>
  <li id="menu-item-3160" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3160 menu-item-msi-news-letter "><a target="_blank" href="http://msi-ggsip.org/wp-content/uploads/2016/06/2017-msi-news-finaL-6-sep.pdf">MSI News Letter</a></li>
</ul>
</li>
<li id="menu-item-4196" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4196 menu-item-online-fee-payment-for-2nd-and-3rd-year-students last-menu-item"><a href="http://msi-ggsip.org/online-fee-payment-for-2nd-and-3rd-year-students/">Online Fee</a></li>
</ul></div>
            </div>

            <div id="navbar-main">

                <div class="menu-main-links-container"><ul id="menu-main-links-1" class="navbar-wpz dropdown sf-menu sf-js-enabled sf-arrows"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-3419 current_page_item menu-item-3423"><a href="http://msi-ggsip.org/">Home</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2764"><a href="#" class="sf-with-ul">About Us</a>
<ul class="sub-menu" style="display: none;">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href="http://msi-ggsip.org/maharaja-surajmal-3/">About Maharaja Surajmal</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1572"><a href="http://msi-ggsip.org/about-us/">About Institute</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3336"><a href="http://msi-ggsip.org/3330-2/">Vision and Mission</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1478"><a href="#" class="sf-with-ul">Administration</a>
<ul class="sub-menu" style="display: none;">
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3364"><a target="_blank" href="http://surajmalmemorialeducationsociety.org/">Society</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3346"><a href="http://msi-ggsip.org/governing-body/">Governing Body</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2618"><a href="http://msi-ggsip.org/director/">Director</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2182"><a href="#" class="sf-with-ul">Academics</a>
<ul class="sub-menu" style="display: none;">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4583"><a href="http://msi-ggsip.org/gold-medalist-of-msi/">Gold Medalists of MSI</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4582"><a href="http://msi-ggsip.org/exemplary-performances-of-msi/">Exemplary Performances of MSI</a></li>
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1782"><a href="#" class="sf-with-ul">Results</a>
  <ul class="sub-menu" style="display: none;">
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1846"><a href="#" class="sf-with-ul">BCA</a>
    <ul class="sub-menu" style="display: none;">
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1784"><a href="http://msi-ggsip.org/bca-1st-shift-result/">BCA 1st Shift Result</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1785"><a href="http://msi-ggsip.org/bca-2nd-shift/">BCA 2nd Shift Result</a></li>
    </ul>
</li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1847"><a href="#" class="sf-with-ul">BBA-General</a>
    <ul class="sub-menu" style="display: none;">
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1783"><a href="http://msi-ggsip.org/bba-gen-1st-shift-result/">BBA-Gen 1st Shift Result</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1905"><a href="http://msi-ggsip.org/bba-gen-2nd-shift/">BBA-Gen 2nd Shift Result</a></li>
    </ul>
</li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1850"><a href="#" class="sf-with-ul">BBA- Bank. &amp; Ins.</a>
    <ul class="sub-menu" style="display: none;">
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1904"><a href="http://msi-ggsip.org/bba-bi-1st-shift/">BBA-B&amp;I 1st Shift Result</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1906"><a href="http://msi-ggsip.org/bi-2nd-shift-result/">BBA-B&amp;I 2nd Shift Result</a></li>
    </ul>
</li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1907"><a href="http://msi-ggsip.org/b-com-hons-2/">B.Com. (Hons.) Result</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1911"><a href="http://msi-ggsip.org/education/">Education</a></li>
  </ul>
</li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2634"><a href="http://msi-ggsip.org/email-ids-of-staff/">Email Ids of Staff</a></li>
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1703"><a target="_blank" href="https://sites.google.com/site/centrallibrarymaharajasurajmal/">Central Library</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1778"><a href="#" class="sf-with-ul">Placement</a>
<ul class="sub-menu" style="display: none;">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1779"><a href="http://msi-ggsip.org/director-placement/">Director Placement</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1780"><a href="http://msi-ggsip.org/placement/">Placement Cell</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1800"><a href="http://msi-ggsip.org/placement-summary/">Placement Summary</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4165"><a href="#" class="sf-with-ul">Events</a>
<ul class="sub-menu" style="display: none;">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4570"><a href="http://msi-ggsip.org/activities-held/">Activities Held</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4166"><a href="http://msi-ggsip.org/fdps/">FDPs</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4170"><a href="http://msi-ggsip.org/4th-international-day-of-yoga-celebration/">4th IDY Celebration</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4167"><a href="http://msi-ggsip.org/genesis-2k18/">Genesis 2K18</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-54"><a href="#" class="sf-with-ul">Research &amp; Publications</a>
<ul class="sub-menu" style="display: none;">
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1845"><a target="_blank" href="http://www.msijr.msi-ggsip.org">MSI Journal of Research</a></li>
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3161"><a target="_blank" href="http://msi-ggsip.org/wp-content/uploads/2016/06/MSI-CREATION-2018.pdf">MSI Creation</a></li>
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3160"><a target="_blank" href="http://msi-ggsip.org/wp-content/uploads/2016/06/2017-msi-news-finaL-6-sep.pdf">MSI News Letter</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4196"><a href="http://msi-ggsip.org/online-fee-payment-for-2nd-and-3rd-year-students/">Online Fee</a></li>
</ul></div>
            </div><!-- end .menu -->

            <div id="sb-search" class="sb-search">
                <form method="get" id="searchform" action="http://msi-ggsip.org/">
  <input type="search" class="sb-search-input" placeholder="Search…" value="" name="s" id="s">
    <input type="submit" id="searchsubmit" class="sb-search-submit" value="Search">
    <span class="sb-icon-search"></span>
</form>            </div>

        </div>

    </nav>
</div>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>