{% extends "base.html" %}
{% load qr_code %}
{% block content %}
<h1 style='padding-left: 10px'>
	<u>
		{{object.name}}
	</u>
</h1>
<br>
<div style="background-color: #DEF4FF;border-style:solid;width: 50%; float: left;">
	<p>
		{{object.report}}
	</p>
</div>
<div style="padding-left: 50%">
	<p>
		<h4 style='padding-left: 10px'>
			Date: {{object.date}}
		</h4>
	</p>
	{% if object.email == user.email %}
	<button>
		<a href="add/report/{{object.id1}}">
			<font color=white>
				<h4>
					Click here to add report
				</h4>
			</font>
		</a>
	</button>
	{%else%} 
	<button>
		<a href="add/feedback/{{object.id1}}">
			<font color=white>
				<h4>
					Click here to add feedback
				</h4>
			</font>
		</a>
	</button>
	{%endif%}
	<p style='padding-left: 10px'>
		<font size=1.5>
			Added on {{object.added_on}}
		</font>
	</p>
</div>
<div style="padding-left: 50%">
	<ul>
		{%for x in feedback%}
		<li>{{x.uname}} said:<br>{{x.feedback}}<hr>
		{% endfor %}
	</ul>
</div>
<script>
	document.getElementsByTagName('p')[0].setAttribute('style','white-space:pre-wrap;padding-left:10px')
	document.getElementsByTagName('button')[2].setAttribute('style','padding: 8px 15px;margin: 0px 10px;')
</script>
{% endblock content %}