{% extends "base.html" %}
{% load qr_code %}
{% block content %}
<h1 style='padding-left: 10px'>
	<u>
		{{object.name}}
	</u>
</h1>
<br>
<div style="background-color: #DEF4FF;border-style:solid;width: 50%; float: left;">
	<p>
		{{object.body}}
	</p>
</div>
<div style="padding-left: 50%">
	<p>
		<h4 style='padding-left: 10px'>
			For more information about this event, contact<br>{{object.contact}}
		</h4>
	</p>
	<p>
		<h4 style='padding-left: 10px'>
			Date: {{object.date}}
		</h4>
	</p>
	<p>
		<h4 style='padding-left: 10px'>
			Venue: {{object.venue}}
		</h4>
	</p>
	<p>{% qr_from_text object.link size=5 version=12 %}
	<font size=2>Scan the QR code to register for the event</font><br/></p>
	<font size=2>Can't scan the QR code?</font>
	<button>
		<a href="{{object.link}}">
			<font color=white>
				<h4>
					Click to register for the event
				</h4>
			</font>
		</a>
	</button>
	<button>
		<a href="notif/{{object.id1}}">
			<font color=white>
				<h4>
					Click here to receive notification
				</h4>
			</font>
		</a>
	</button>
	<p style='padding-left: 10px'>
		<font size=1.5>
			Added on {{object.added_on}}
		</font>
	</p>
</div>
<script>
	document.getElementsByTagName('p')[1].setAttribute('style','white-space:pre-wrap;padding-left:10px')
	document.getElementsByTagName('button')[1].setAttribute('style','padding: 8px 15px;margin: 0px 10px;')
	document.getElementsByTagName('button')[2].setAttribute('style','padding: 8px 15px;')
</script>
{% endblock content %}