{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div style="padding-left:10px;background-color:#FFE0DA;width:50%">
<h2>Thank you for using the MSI Event Management System.</h2><br>
<p style="padding-left:10px">This website is completely open source. You can find the source on GitHub:<br>

<a href="https://github.com/lakshaygarg1701/MPRF.git" style="padding-left:20px">Minor Project</a><br>

<ul style="padding-left:25px">
    <li><a href="https://github.com/lakshaygarg1701">Lakshay Garg </a>(BCA[M]->2016-2019)
    <li>Paras Kapoor (BCA[M]->2016-2019)
    <li>Vishweshwar Chowdhary (BCA[M]->2016-2019)
</ul>
<br>
Under the guidance of Ms. Rhythm Choudhary, Asst. Professor, BCA Dept.<br>
<strong>Please <a href="/accounts/login">login</a> to continue to the site</strong>
</p>
</div>
{% endblock %}